<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dev.finance$</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    
     <div id="corpo">
        <div id="topo">
            
            
        </div>
    </div>
    
    <header>
        <img src="./assets/logo.svg" alt="Logo Dev Finance">
    </header>

    
    <div id="conteudo"></div>
   {{area_dinamica}}

    <footer>
        <p>dev.finance$</p>
    </footer>
</body>

</html>